.buildpath
.project
.settings
.DS_Store
.idea

composer.phar
composer.lock
/vendor

# Test Application
/Tests/Fixtures/App/cache/
/Tests/Fixtures/App/logs/
/Tests/Fixtures/IconChecksumsCommand.php

# Symfony 4 var folders
/var
/var/cache
/var/cache/*
/var/logs
/var/logs/*
