<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        colors="true"
        processIsolation="true"
        stopOnFailure="false"
        backupGlobals="false"
        bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Afrihost BaseCommandBundle Test Suite">
            <directory suffix=".php">./Tests/</directory>
            <exclude>./Tests/Command/BaseCommandHardenedContainerTest.php</exclude>
        </testsuite>
    </testsuites>
</phpunit>